{% extends 'adminapp/base.html' %}
{% load static %}
{% load humanize %}


{% block content %}
<div class="product_read">
    <div class="product_name">
        Art object<strong>{{ object.category.name|title }} / {{ object.name|title }}</strong>
    </div>
    <img src="/media/{{ object.image|default:'products_images/default.jpg' }}" alt="{{ object.name }}">
    <div class="summary">
        <b>Price</b>
        <p>{{ object.price|stringformat:"d"|intcomma }} $</p>
        <b>Quantity</b>
        <p>{{ object.quantity }}</p>
        <b>In catalog</b>
        <p>{% if object.is_active %}yes{% else %}no{% endif %}</p>
        <p>
            <button>
                <a href={% url 'admin:product_update' object.pk %}>edit</a>
            </button>
        </p>
        <p>
            <button>
                <a href={% url 'admin:product_delete' object.pk %}>delete</a>
            </button>
        </p>
        <p>
            <button>
                <a href={% url 'admin:products' object.category.pk %}>back</a>
            </button>
        </p>
    </div>
    <div class="product_desc">
        <b>Author</b>
        <p>{{ object.artist }}</p><br><br>
        <b>Description</b>
        <p>{{ object.description }}</p>
    </div>
</div>
{% endblock content %}