{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
<div class="user_delete">
    Are you sure? {{ user_to_delete.username }} {% if user_to_delete.first_name %}
    <form action="{% url 'admin:user_delete' user_to_delete.pk %}" method="post">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="delete">
    </form>
    <button class="btn btn-success">
        <a href="{% url 'admin:users' %}">cancel</a>
    </button>
</div>
{% endblock content %}