{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %} 
        {{ title}} 
      {% endblock title %}
    </title>
    {% block css %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" />
    {% endblock css %}
  </head>
  <body>
    <div class="container">
      {% block header1 %}
      {% include 'mainapp/includes/inc_header1.html' %}
      {% endblock header1 %} 
      
      {% block header2 %}
      
      {% include 'mainapp/includes/inc_header2.html' %}

      {% endblock header2 %} 
      {% block content %} {% endblock content %}
  
    <div class="clr"></div>
    {% block footer %}
    <div class="footer">
      <div class="networks">
        <ul>
          <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-rss"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-vk"></i></a>
          </li>
        </ul>
      </div>
      <small>Все права защищены &copy; 2020</small>
    </div>
    {% endblock footer %}
  </div>
  </body>
</html>
