<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlameArt Каталог</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="icon" type="image/png" href="/static/img/logo.png"/>
</head>
<body>
    <div class="container">
        <div class="clearfix">
          <div class="header1">
            <a class="logo" href="/"><img src="/static/img/logo.png" alt=""/></a>
            <div class="phone">
              <p><i class="fas fa-mobile-alt"></i> +7(495)122-33-22</p>
            </div>
            <div class="mail">
              <p><i class="far fa-envelope"></i> contact@flame.art</p>
            </div>
          </div>
          <div class="mainpage">
            <div class="header2">
              <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog/">Каталог</a></li>
                <li><a href="/products/">Товары</a></li>
                <li><a href="/contacts/">Контакты</a></li>
              </ul>
              <a href="#" class="basket"></a>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
  
      <div class="footer">
          <div class="networks">
              <ul>
                <li>
                  <a href="#"
                    ><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fas fa-rss"></i></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fab fa-vk"></i></a>
                </li>
              </ul>
            </div>
        <small>Все права защищены &copy; 2020</small>
      </div>
</body>
</html>