{% extends 'mainapp/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
  <div class="mainpage">
    <div class="tab-content">
      {% for product in products %}
      <div class="block">
        <a href="{{ product.image }}"><img src="{{ media_url }}{{ product.image }}" alt="{{ product.artist }}">
        </a>
        <div class="product-text">
          <h4>{{ product.name }}</h4>
          <p>{{ product.artist }}</p>
          <p>Category: {{ product.category.name }}</p>
          <p>Price: {{ product.price|stringformat:"d"|intcomma }} $</p>
          {% if user.is_authenticated %}
          <a href="{% url 'basket:add' product.pk %}">
          {% else %}
          <a href="{% url 'auth:login' %}">
          {% endif %}
            <button class="button-basket">
              Add to basket
            </button>
        </a>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock content %}