{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
  <div class="mainpage">
    <div class="tab-content">
      {% for product in products %}
      <div class="block">
        <a href="{{ product.image_href }}"><img src="{% static 'img/' %}{{ product.image_src }}" alt="{{ product.alt }}">
        <div class="text">
          <h4>{{ product.name }}</h4>
          <p>{{ product.desc }}</p>
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock content %}