{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
  <div class="mainpage">
    <div class="tab-content">
      {% for product in products %}
      <div class="block">
        <a href="{{ product.image }}"><img src="{{ media_url }}{{ product.image }}" alt="{{ product.artist }}">
        <div class="text">
          <h4>{{ product.name }}</h4>
          <p>Description: {{ product.description }}</p>
          <p>Category: {{ product.category.name }}</p>
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock content %}